@import "variables";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: $default-font, sans-serif;
  font-size: 1.4rem;
  overflow: hidden auto;
  background-color: $dark-color;
  color: $white-color;
}

ul,
ol,
li {
  list-style: none;
}

button {
  cursor: pointer;
}

select,
select:focus,
input,
input:focus,
button,
button:focus {
  outline: 0;
}

select::-ms-expand {
  display: none;
}

select {
  appearance: none;
  background-color: transparent;
  border: none;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}

image {
  max-width: 100%;
}
