@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

// =======  Text =======
$default-font: "Montserrat", sans-serif;

// =======  Colors =======
$red-color: "#E50914";
$darkRed-color: "#B81D24";
$black-color: "#221F1F";
$white-color: "#F5F5F1";
