// =======  Colors RGBA =======

@mixin white-colorRGBA($opacity: 1) {
  background-color: rgba(245, 245, 241, $opacity);
}

@mixin black-colorRGBA($opacity: 1) {
  background-color: rgba(34, 31, 31, $opacity);
}

@mixin red-colorRGBA($opacity: 1) {
  background-color: rgba(229, 9, 20, $opacity);
}

@mixin darkRed-colorRGBA($opacity: 1) {
  background-color: rgba(184, 29, 36, $opacity);
}
